@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, HELLO WORLD, now in ASPNET lek ;-)</h1>
    <p>Documentação:<a href="https://docs.microsoft.com/aspnet/core">Ver doc de asp</a>
        <br>E esse é meu Hello World, em aspnet, queria agradecer ai a todos que me proporcionaram esse conhecimento, CLICA LOGO EM EQUIPE E NOTICIAS E VE A BRINCADEIRA.
    </p>
</div>
